/* Component styles */
@font-face {
	font-family: 'Blokk';
	src: url('../fonts/blokk/BLOKKRegular.eot');
	src: url('../fonts/blokk/BLOKKRegular.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/blokk/BLOKKRegular.woff') format('woff'),
		 url('../fonts/blokk/BLOKKRegular.svg#BLOKKRegular') format('svg');
	font-weight: normal;
	font-style: normal;
}
.component {
	line-height: 1.5em;
	margin: 0 auto;
	padding: 2em 0 3em;
	width: 90%;
	max-width: 1000px;
	overflow: hidden;
}
.component .filler {
	font-family: "Blokk", Arial, sans-serif;
	color: #d3d3d3;
}
table {
    border-collapse: collapse;
    margin-bottom: 3em;
    width: 100%;
    background: #fff;
}
td, th {
    padding: 0.75em 1.5em;
    text-align: left;
}
	td.err {
		background-color: #e992b9;
		color: #fff;
		font-size: 0.75em;
		text-align: center;
		line-height: 1;
	}
th {
    background-color: #31bc86;
    font-weight: bold;
    color: #fff;
    white-space: nowrap;
}
tbody th {
	background-color: #2ea879;
}
tbody tr:nth-child(2n-1) {
    background-color: #f5f5f5;
    transition: all .125s ease-in-out;
}
tbody tr:hover {
    background-color: rgba(129,208,177,.3);
}

/* For appearance */
.sticky-wrap {
	overflow-x: auto;
	overflow-y: hidden;
	position: relative;
	margin: 3em 0;
	width: 100%;
}
.sticky-wrap .sticky-thead,
.sticky-wrap .sticky-col,
.sticky-wrap .sticky-intersect {
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
	transition: all .125s ease-in-out;
	z-index: 50;
	width: auto; /* Prevent table from stretching to full size */
}
	.sticky-wrap .sticky-thead {
		box-shadow: 0 0.25em 0.1em -0.1em rgba(0,0,0,.125);
		z-index: 50;
		width: 100%; /* Force stretch */
	}
	.sticky-wrap .sticky-intersect {
		opacity: 1;
		z-index: 150;

	}
		.sticky-wrap .sticky-intersect th {
			background-color: #666;
			color: #eee;
		}
.sticky-wrap td,
.sticky-wrap th {
	box-sizing: border-box;
}

/* Not needed for sticky header/column functionality */
td.user-name {
	text-transform: capitalize;
}
.sticky-wrap.overflow-y {
	overflow-y: auto;
	max-height: 50vh;
}
tr{
    cursor: pointer;
}
#cuadro{
    width:800px;
    left: 50%;
    margin-left:-400px;
    top: 50%;
    margin-top: -150px;
    font-size: 3em;
    position:fixed;
    border: none;
    text-align:center;
    padding: 20px;
    background: rgba(49, 188, 134, 0.79);
    color:white;
    box-shadow:0 1px 0 rgba(255,255,255,.15), 0 2px 4px rgba(0,0,0,.2) inset, 0 0 12px rgba(255,255,255,.1);
    z-index:100;
}
@font-face {
    font-family: 'WebSymbolsRegular';
    src: url('../../css/websymbols/websymbols-regular-webfont.eot');
    src: url('../../css/websymbols/websymbols-regular-webfont.eot?#iefix') format('embedded-opentype'),
        url('../../css/websymbols/websymbols-regular-webfont.woff') format('woff'),
        url('../../css/websymbols/websymbols-regular-webfont.ttf') format('truetype'),
        url('../../css/websymbols/websymbols-regular-webfont.svg#WebSymbolsRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
.icono{
    font-family: 'WebSymbolsRegular', cursive;
    font-size: 60px;
    color: #333;
    /*text-shadow: 0px 0px 1px #333;
    line-height: 150px;
    width: 100%;*/
    height: 50%;
    left: 0px;
    text-align: center;
    -webkit-transition: all 400ms linear;
    -moz-transition: all 400ms linear;
    -o-transition: all 400ms linear;
    -ms-transition: all 400ms linear;
    transition: all 400ms linear;
}
span{
    font-size: 60px;
}
#contador{
    float:left;
    height: 78px;
    background-color:rgba(33, 146, 69, 1);
    border-top: rgb(56, 209, 17) medium solid;
}
#fuckear{
    float:right;
    height: 78px;
    width: 75px;
    background-color:rgba(255, 122, 0, 1);
    border-top: rgb(255, 193, 115) medium solid;
    cursor: pointer;
    color: rgb(145, 93, 16);
}
#cerrar{
    float:right;
    height: 42px;
    width: 75px;
    background-color:rgb(255, 10, 0);
    border-bottom: rgb(201, 39, 0) medium solid;
    cursor: pointer;
    color: rgb(255, 255, 255);
    margin-top: -20px;
    margin-right: -20px;
    font-size: 30px;
}
#cerrar:hover{
    background-color: rgb(255, 133, 0);
}
#fuckear:hover{
    color:rgb(44, 24, 0);
}
#back{
    position:fixed;
    background-color:rgba(0, 0, 0, 0.72);
    width:100%;
    height:100%;
    z-index:99;
}
#grado{
    font-size:5em;
    text-align:center;
    margin:0;
}

textarea{
    background-color: rgba(197, 255, 215, 0.71);
    border: rgb(38, 124, 16) solid;
    width: 580px;
    max-width: 580px;
    font-size: 30px;
}
textarea:focus{
    outline: none;
}
#navegacion{
    height: 50px;
    width: 100%;
    background-color: rgb(51, 51, 51);
}
.nav{
    float:left;
    font-size:40px;
    cursor: pointer;
    color: rgb(187, 187, 187);
}
